.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
  font-size: 14px;
}
/*ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace*/